body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px 1px 1px 1px black;
    background-color: white;
}

#wrapper {
    background-color: #0A1828;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    background-color: #957C3D;
}

a:visited {
    color: #957C3D;
}

header {
    background-color: #178582;
    color:white;
}

.top-banner {
    padding: 50px;
    text-align: center;
    background-color: #002349;
    color: white;
}

.column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
margin: 8px;
background-color: white;
border: 3px solid black;
}

.container {
padding: 0 16px;
}

.container::after, .row::after {
content: "";
clear: both;
display: table;
}