body {
    text-align: center;
    margin: auto;
    background-color: white;
}

a {
    text-decoration: none;
    color: #BCA15C;
    font-size: 17px;
}

a:hover {
    font-weight: bold;
}

.top-banner {
    padding: 50px;
    text-align: center;
    background-color: #002349;
    color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.column {
    flex: 1;
    max-width: 25%;
    min-width: 250px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    border: 3px solid black;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    background-color: white;
    height: 97.5%;
}

.container {
    padding: 0 16px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}